/* Custom font declarations */
@font-face {
    font-family: BrownStd-Bold;
    src: url("fonts/BrownStd-Bold.otf") format('opentype'),
    url("fonts/BrownStd-Bold.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-BoldAlt;
    src: url("fonts/BrownStd-BoldAlt.otf") format('opentype'),
    url("fonts/BrownStd-BoldAlt.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-ReclinBold;
    src: url("fonts/BrownStd-ReclinBold.otf") format('opentype'),
    url("fonts/BrownStd-ReclinBold.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-ReclinBoldAlt;
    src: url("fonts/BrownStd-ReclinBoldAlt.otf") format('opentype'),
    url("fonts/BrownStd-ReclinBoldAlt.ttf") format('truetype');
}
@font-face {
    font-family: BrownStd-Light;
    src: url("fonts/BrownTT-Light.otf") format('opentype'),
    url("fonts/BrownTT-Light.ttf") format('truetype');
}