.dpicker {
    font-size: 15px;
    font-family: BrownStd-Bold;
    margin-top: 10px;
    margin-bottom: -5px;
    color: rgba(0,0,0,0.54);
    display: inline-table;
}
#main_sunburst {
    border-top: 1px solid #831A81;
    float: left;
    width: 98%;
}
#sidebar_sunburst {
    position: absolute;
    right: 20px;
    top: 150px;
    font: 15px "BrownStd-Bold";
    padding-right: 20px;
    overflow-y: auto;
}
#sequence_sunburst {
    width: 98%;
    height: 70px;
}
#sequence_sunburst2 {
    position: absolute;
    bottom: 0px;
    width: 90%;
}
#legend_sunburst {
    padding: 10px 0 0 3px;
}
#sequence_sunburst text, #legend_sunburst text {
    font: 12px "BrownStd-Light";
    font-weight: 600;
    fill: #fff;
}
#chart_sunburst {
    position: relative;
}
#chart_sunburst path {
    stroke: #fff;
}
#explanation_sunburst {
    font-family: "BrownStd-Light";
    position: absolute;
    top: 260px;
    left: 305px;
    width: 140px;
    text-align: center;
    color: #666;
}
#percentage_sunburst {
    font-size: 2.5em;
}
#sequence_sunburst2 text {
    font-family: BrownStd-Bold;
}